body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black; /* Adjust the color as needed */
  opacity: 0.5; /* Adjust the opacity level (0 to 1) */
  z-index: -1;
}

body {
  font-size: x-large;
  margin: 0;
  color: white;
  text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../assets/cat-wallpaper.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  h1 {
    margin: 20px;
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
  }
  h4 {
    font-weight: 500;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  /* align-content:flex-end; */
  justify-content: space-between;
  background: linear-gradient(
    rgb(21, 21, 21),
    rgba(0, 0, 0, 0)
  ); /* Set the alpha (transparency) as needed */
}

.navbar-right {
  h4 {
    margin: 5px;
    padding: 5px;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.slogan-signup-login-container {
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  align-items: center;
}

.signup-login-buttons {
  button {
    height: 50px;
    width: 170px;
    font-size: 21px;
    border-radius: 30px;

    /* Gradient Background */
    background: linear-gradient(to bottom, #4cb8b8, #0184b8);
    /* Text Color */
    color: #fff;
  }
  button:hover {
    background: linear-gradient(
      to bottom,
      #307676,
      #005070
    ); /* Adjust colors as needed */
  }
}

/* Sign Up Page */
.signup-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; /* Include padding and border in the total width and height */
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 5px;
  Button {
    size: large;
    width: 300px;
    padding: 10px;
  }
}

/* Log In Page */
.login-elements {
  display: flex; /* Use flex display to control the layout */
  flex-direction: column; /* Stack child elements vertically */
  align-items: center; /* Center child elements horizontally */
  justify-content: center; /* Center child elements vertically */
  height: 400px; /* Set a fixed height for signup-elements */
  width: 100%; /* Set the width to 100% to fill the parent container */
  margin: auto; /* Center the element horizontally if needed */
  padding: 16px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding and border in the total width and height */
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 5px;
  Button {
    size: large;
    width: 300px;
    padding: 10px;
  }
}

/* Form Elements - Server Response Text */
.response-text {
  /* Positioning */
  position: absolute;
  top: 550px;
  /* Styling */
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: rgb(0, 199, 53);
  background: black;
}

/* Form Elements - Server Error Text */
.error-text {
  /* Positioning */
  position: absolute;
  top: 550px;
  /* Styling */
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: rgb(255, 124, 124);
  background: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.email-password-input {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.adopter-cat-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-between;
}

/* BUTTONS */
button {
  margin-top: 30px;
  height: 40px;
  font-size: 18px;
  border-radius: 30px;
  border: none;

  /* Gradient Background */
  background: linear-gradient(
    to bottom,
    #4cb8b8,
    #0184b8
  ); /* Adjust colors as needed */
  color: #fff; /* Text color, set to contrast with the gradient background */
}

button:hover {
  background: linear-gradient(
    to bottom,
    #307676,
    #005070
  ); /* Adjust colors as needed */
}

/* Tinder card module styling */

.swipe {
  position: absolute;
}

.card-container {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 380px;
  max-width: 400px;
  height: 560px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgb(165, 162, 162);
  font-weight: bolder;
}

/* Dashboards */

.adopter-dashboard {
  /* Positioning */
  position: absolute;
  left: 0%;
  top: 7.5%;
  /* Sizing */
  width: 100%;
  height: 92%;
  /* Styling */
  background-color: black;
}

.matches-dashboard {
  /* Positioning */
  position: absolute;
  top: 3px;
  /* Sizing */
  height: 99%;
  width: 310px;
  /* Styling */
  background-color: rgba(22, 22, 22, 0.977);
  /* Border */
  border: none;
}

.matches-tab {
  /* Organize Elements */
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  /* Set a fixed height and make it scrollable */
  height: 100%; /* Adjust the height based on your layout */
  max-height: 86%; /* Set a maximum height as needed */
  overflow-y: auto;

  /* Style the scrollbar */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #4cb8b8;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(211, 211, 211, 0.063);
  }
}

.messages-tab {
  /* Organize Elements */
  display: flex;
  flex-direction: column;
  padding: 25px;
  li {
    font-size: 20px;
    margin-top: 30px;
  }
}

.match-msg-buttons {
  /* Organize Elements */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -53px;
  Button {
    margin-top: 50px;
    width: 100%;
    border: none;
    border-radius: 0px;
  }
}

.swiper-container {
  /* Positioning */
  position: absolute;
  left: 49%;
  top: 18%;
}

th {
  border: 2px solid black;
  border-radius: 10px;
}

tr {
  border: 2px solid black;
  border-radius: 10px;
}

table {
  border: 2px solid black;
  border-radius: 10px;
}

img {
  width: 60px;
  height: 60px;
}
