body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black; /* Adjust the color as needed */
  opacity: 0.5; /* Adjust the opacity level (0 to 1) */
  z-index: -1;
}

body {
  font-size: x-large;
  margin: 0;
  color: white;
  text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../assets/cat-wallpaper.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
}

.navbar {
  h1 {
    margin: 20px;
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
  }
  h4 {
    font-weight: 500;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  /* align-content:flex-end; */
  justify-content: space-between;
  background: linear-gradient(
    rgb(21, 21, 21),
    rgba(0, 0, 0, 0)
  ); /* Set the alpha (transparency) as needed */
}

.navbar-right {
  h4 {
    margin: 5px;
    padding: 5px;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.slogan-signup-login-container {
  display: flex;
  flex-direction: row;
  margin-top: 300px;
  align-items: center;
}

.signup-login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.signup-button {
  display: flex;
  flex-direction: row;
  margin: 20px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border-radius: 5px;
}

.login-button {
  display: flex;
  flex-direction: row;
  margin: 20px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  border-radius: 5px;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 5px;
  Button {
    size: large;
    width: 300px;
    padding: 10px;
  }
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.email-password-input {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.adopter-cat-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: space-between;
}

button {
  padding: 10px;
  margin-top: 50px;
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: 900;
  border-radius: 10px;
  color: white;
  background-color: tomato;
  border: none;
}

/* Tinder card module styling */

.swipe {
  position: absolute;
}

.card-container {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 380px;
  max-width: 400px;
  height: 560px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.swipe:last-of-type {
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}
