/* --- REUSEABLE ELEMENTS - USED ON MORE THAN ONE PAGE --- */
body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: black;
  opacity: 0.5; */
  z-index: -1;
}

body {
  font-size: x-large;
  margin: 0;
  color: black;
  //text-shadow: 0.5px 0 0 #000, 0 0.5px 0 #000, 0 0.5px 0 #000, 0.5px 0 0 #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-image: url('../assets/cat-wallpaper.png');
}

.navbar {
  background: white;
  /* padding-bottom: 100px; */
  h1 {
    margin: 20px;
    color: #f4496f;
  }
  a {
    color: #000;
    text-decoration: none;
    font-weight: bolder;
  }
  h4 {
    font-weight: 500;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //background: linear-gradient(rgba(21, 21, 21, 0.7), rgba(0, 0, 0, 0));
}

.navbar-right {
  h4 {
    margin: 5px;
    padding: 5px;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* --- GENERAL STYLING - APPLIES TO ENTIRE APP --- */

button {
  margin-top: 30px;
  height: 40px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  /* Gradient Background */
  background: linear-gradient(to bottom, #4cb8b8, #0184b8);
  color: #fff; /* Text color */
}

button:hover {
  background: linear-gradient(to bottom, #307676, #005070);
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgb(165, 162, 162);
  font-weight: bolder;
}

/* Server Response Text */
.response-text {
  /* Positioning */
  position: absolute;
  top: 550px;
  /* Styling */
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: rgb(0, 199, 53);
  background: black;
}

/* Server Error Text */
.error-text {
  /* Positioning */
  position: absolute;
  top: 550px;
  /* Styling */
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: rgb(255, 124, 124);
  background: black;
}

/* --- SPECIFIC PAGES --- */
/* HOME PAGE */
.slogan-signup-login-container {
  h1 {
    font-size:48px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fdfeff;
  border-radius: 8px;
  height: 400px;
  width: 800px;
  margin: auto;
  margin-top: 150px;
}

.signup-login-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    height: 50px;
    width: 250px;
    font-size: 21px;
    border-radius: 30px;
    /* Gradient Background */
    background: #f4496f;
    /* Text Color */
    color: #fff;
  }
  button:hover {
    background: #f4496f;
  }
}

/* SIGN UP PAGE */
.signup-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box; /* Include padding and border in the total width and height */
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 5px;
  Button {
    size: large;
    width: 300px;
    padding: 10px;
  }
}

/* LOG IN PAGE */
.login-page {
  display: flex; /* Use flex display to control the layout */
  flex-direction: column; /* Stack child elements vertically */
  align-items: center; /* Center child elements horizontally */
  justify-content: center; /* Center child elements vertically */
  height: 400px; /* Set a fixed height for signup-elements */
  width: 100%; /* Set the width to 100% to fill the parent container */
  margin: auto; /* Center the element horizontally if needed */
  padding: 16px; /* Add padding for spacing */
  box-sizing: border-box; /* Include padding and border in the total width and height */
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 5px;
  Button {
    size: large;
    width: 300px;
    padding: 10px;
  }
}

/* CREATE (CAT/ADOPTER) PROFILE PAGE */
.create-profile-page {
  /* Positioning */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 37vw;
  /* Sizing */
  width: 30%;
}

/* CARDS PAGE */
.cards-page {
  /* Positioning */
  position: absolute;
  left: 0%;
  top: 10vh;
  /* Sizing */
  width: 100%;
  height: 90%;
  /* Prevent resizing on card swipes */
  overflow: hidden;
  /* Styling */
  background-color: rgba(0, 0, 0, 0.747);
}

/* SIDE BAR ON CARDS PAGE */
.side-bar {
  /* Positioning */
  position: absolute;
  top: 3px;
  /* Sizing */
  height: 99%;
  width: 310px;
  /* Styling */
  background-color: rgba(22, 22, 22, 0.977);
  /* Border */
  border: none;
}

/* MATCHES TAB */
.matches-tab {
  /* Organize Elements */
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  /* Set a fixed height and make it scrollable */
  height: 100%;
  max-height: 86%;
  overflow-y: auto;
  /* Style the scrollbar */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    /* Gradient Background */
    background: linear-gradient(to bottom, #4cb8b8, #0184b8);
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(211, 211, 211, 0.063);
  }
}

/* MATCHES IN MATCHES TAB */
.matches {
  text-align: center;
}
.matches p {
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: -3px;
  /* margin-left: 30%; */
}
.matches img {
  /* Sizing */
  width: 80px;
  height: 80px;
  /* Styling */
  object-fit: cover; /* Maintain the aspect ratio and cover the entire container */
  border-radius: 50%; /* Make the image circular */
  /* Positioning */
  margin-top: 8px; /* Add some spacing between text and image */
}

/* MESSAGES TAB */
.messages-tab {
  /* Organize Elements */
  display: flex;
  flex-direction: column;
  padding: 25px;
  li {
    font-size: 20px;
    margin-top: 30px;
  }
}

/* MATCHES / MESSAGES TAB BUTTONS */
.match-msg-buttons {
  /* Organize Elements */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: -53px;
  Button {
    margin-top: 50px;
    width: 100%;
    border: none;
    border-radius: 0px;
  }
}

/* --- TINDER CARD STYLING --- */
.card-container {
  /* Positioning */
  position: absolute;
  top: 20vh;
  left: 50vw;
  /* Sizing */
  width: 90vw;
  max-width: 260px;
  height: 300px;
}
.swipe {
  position: absolute;
}
.card {
  /* Positioning */
  position: relative;
  margin-top: -28px;
  /* Sizing */
  width: 350px;
  height: 630px;
  /* Styling */
  background-color: #fff;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
}
.card-contents {
  /* Sizing */
  height: 600px;
  /* Styling */
  overflow-y: scroll;
  border-radius: 20px;
  /* Scroll Bar Styling */
  &::-webkit-scrollbar {
    width: 0.5em; /* Adjust width as needed */
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent; /* Make the thumb transparent */
  }
}

.card-name {
  position: absolute;
  top: 540px;
  left: 20px;
}

.more-info-block {
  /* Positioning */
  margin-top: -30px;
  margin-bottom: -30px;
  /* Arranging Items */
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 10px;
  /* Styling */
  background: linear-gradient(to bottom, #4cb8b8, #0184b8);
  label {
    font-size: 20px;
  }
}

.card-fetched-data {
  font-family: 'Franklin Gothic Medium';
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 30px;
}

.googleOauthButton {
  margin: 30px;
}
